<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
       
        <!-- properties -->
       <!--  
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
        <property name="dialect">org.hibernate.dialect.OracleDialect</property>
        <property name="connection.username">cacisiss</property>
        <property name="connection.password">cacisiss</property>
          -->
        <property name="show_sql">true</property>
      
         <!-- mapping files -->
              
		 <!-- common mapping files -->
        
         <mapping resource="org/transinfo/cacis/dto/common/EducationList.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/common/JobStatus.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/common/JobType.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/CityMaster.hbm.xml"/> 
         <mapping resource="org/transinfo/cacis/dto/letters/LetterTypesList.hbm.xml" />
		 <mapping  resource="org/transinfo/cacis/dto/riskmanagement/MerchantCategory.hbm.xml" />
		 <mapping  resource="org/transinfo/cacis/dto/riskmanagement/TranxCode.hbm.xml" />
		
          
         <mapping resource="org/transinfo/cacis/dto/settings/CountryMaster.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/Currency.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/CardProductType.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/common/CardStatus.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/common/CardProcessStatus.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/common/ApplicationMaster.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/common/Address.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/common/CardHolderType.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/IssuerCurrency.hbm.xml"/>
         
          <!-- Setting mapping files -->
          
         <mapping resource="org/transinfo/cacis/dto/settings/IssuerSetup.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/BranchSetup.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/CardType.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/CustomerTypeSetup.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/CardProduct.hbm.xml"/> 
         <mapping resource="org/transinfo/cacis/dto/settings/CardPromotion.hbm.xml"/> 
         <mapping resource="org/transinfo/cacis/dto/settings/CycleSetup.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/MCCSetup.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/CardProductLimit.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/CurrencyRate.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/SalaryProfile.hbm.xml"/>
         
         <mapping resource="org/transinfo/cacis/dto/settings/MCCMaster.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/CustomerGroupFee.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/settings/EMVProfile.hbm.xml"/>
		 <mapping resource="org/transinfo/cacis/dto/settings/CreditLimitProfile.hbm.xml"/>
              
          <!-- CardProduction mapping files -->
         <mapping resource="org/transinfo/cacis/dto/cardproduction/ApplicationForm.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/cardproduction/CustomerLimits.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/cardproduction/ApplicationDocRequired.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/cardproduction/CustomerHistory.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/cardproduction/CustomerSetup.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/cardproduction/Card.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/cardproduction/CustomerAddress.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/cardproduction/CardEmbossing.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/cardproduction/PinPrinting.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/cardproduction/CardDeliver.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/cardproduction/CardData.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/cardproduction/CardDetails.hbm.xml"/>
		 <mapping resource="org/transinfo/cacis/dto/cardproduction/ApplicationVal.hbm.xml"/>
		 <mapping resource="org/transinfo/cacis/dto/cardproduction/CreditScoring.hbm.xml"/>
         
         <mapping resource="org/transinfo/cacis/dto/cardproduction/State.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/cardproduction/City.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/cardproduction/Township.hbm.xml"/>
         
			<!-- Card Batch mapping files -->
         <mapping resource="org/transinfo/cacis/dto/batchprocess/CardBatch.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/batchprocess/CardATMLink.hbm.xml"/>
          
            <!-- Application Forms mapping files -->
         <mapping resource="org/transinfo/cacis/dto/applicationforms/SupplementaryForm.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/applicationforms/CardGradeForm.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/applicationforms/CardsRenewal.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/applicationforms/CardsRenewalHistory.hbm.xml"/>
               
         <!-- Cusomer Service mapping files -->
        <mapping resource="org/transinfo/cacis/dto/customerservice/CardActivity.hbm.xml"/>
        <mapping resource="org/transinfo/cacis/dto/customerservice/CardReplacement.hbm.xml"/>
        <mapping resource="org/transinfo/cacis/dto/customerservice/CardClose.hbm.xml"/>
        <mapping resource="org/transinfo/cacis/dto/customerservice/PinResend.hbm.xml"/>
        <mapping resource="org/transinfo/cacis/dto/customerservice/CardLimitAdjustment.hbm.xml"/>
        <mapping resource="org/transinfo/cacis/dto/customerservice/CardStatusRemarks.hbm.xml"/>
        <!-- <mapping resource="org/transinfo/cacis/dto/customerservice/CustomerScreen.hbm.xml"/> -->
        <mapping resource="org/transinfo/cacis/dto/customerservice/CardChange.hbm.xml"/>
        <mapping resource="org/transinfo/cacis/dto/customerservice/AccountAdjustment.hbm.xml"/>
        <mapping resource="org/transinfo/cacis/dto/customerservice/CardReplacementLog.hbm.xml"/>
        <mapping resource="org/transinfo/cacis/dto/customerservice/CardChangeClose.hbm.xml"/>
        <mapping resource="org/transinfo/cacis/dto/customerservice/CardChangeLog.hbm.xml"/>
        
        <mapping resource="org/transinfo/cacis/dto/customerservice/FeeWaiver.hbm.xml"/>
        
            <!-- Call Center (csr) mapping files -->
         <mapping resource="org/transinfo/cacis/dto/csr/TransactionLog.hbm.xml"/>    
         <mapping resource="org/transinfo/cacis/dto/csr/NonReconTransactionLog.hbm.xml"/>    
         <mapping resource="org/transinfo/cacis/dto/csr/CustomerInfo.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/csr/CallRecordLog.hbm.xml"/> 
         <mapping resource="org/transinfo/cacis/dto/csr/CallType.hbm.xml"/>  
         <mapping resource="org/transinfo/cacis/dto/csr/ResponseCode.hbm.xml"/>  
         <mapping resource="org/transinfo/cacis/dto/csr/TransactionRevert.hbm.xml"/>  
         
          <!-- Excell FileUpload -->
          <mapping resource="org/transinfo/cacis/dto/excell/Upload.hbm.xml"/>    
       
          <!-- #######Dispute Management -->
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeConfigMaster.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeClaimTypes.hbm.xml"/>  
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeClaimForm.hbm.xml"/>  
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeDocuments.hbm.xml"/>  
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeReason.hbm.xml"/>  
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeRequestDocuments.hbm.xml"/>  
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeResponseDocuments.hbm.xml"/>  
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeFormRemarks.hbm.xml"/>
           
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeCaseEvent.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeCleaningMaster.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeClearanceCTFDetails.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeCTFDetails.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeEvents.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeGroupDetails.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeGroups.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeMaster.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeStatus.hbm.xml"/> 
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeTypes.hbm.xml"/>  
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeManualRecon.hbm.xml"/>  
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/DisputeMotos.hbm.xml"/>  
          
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/Base2TranxCode.hbm.xml"/>  
          <mapping resource="org/transinfo/cacis/dto/disputemanagement/Base2DocIndicator.hbm.xml"/>  
            
           <!--ACCOUNTING -->
          <mapping resource="org/transinfo/cacis/dto/accounting/Parameters.hbm.xml"/>  
          <mapping resource="org/transinfo/cacis/dto/accounting/CurrPaySum.hbm.xml"/>  
          <mapping resource="org/transinfo/cacis/dto/accounting/CustomerStatement.hbm.xml"/> 
          <mapping resource="org/transinfo/cacis/dto/accounting/CustomerPayment.hbm.xml"/>
          
          <mapping resource="org/transinfo/cacis/dto/accounting/StatementTranxDetails.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/accounting/StatementPayDetails.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/accounting/StatementIntDetails.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/accounting/StatementFeeDetails.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/accounting/PostTranx.hbm.xml"/>
          
          <mapping resource="org/transinfo/cacis/dto/accounting/Fee.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/accounting/Payment.hbm.xml"/>
          
          <mapping resource="org/transinfo/cacis/dto/accounting/Interest.hbm.xml"/>
          <mapping resource="org/transinfo/cacis/dto/accounting/CustomerInterest.hbm.xml"/>
                              
         <!-- ######## newly added 1  #######  -->     
           
         <!-- Authorization mapping files -->
         <mapping resource="org/transinfo/cacis/dto/authorization/TagFieldFormat.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/authorization/BlackListCard.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/authorization/BlockMerchant.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/authorization/ServerParameters.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/authorization/SystemParameters.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/authorization/LoginParameters.hbm.xml"/>
        
         <mapping resource="org/transinfo/cacis/dto/authorization/SMSService.hbm.xml" />
         
         <!-- Alert mapping files -->
         <mapping resource="org/transinfo/cacis/dto/alert/AlertMaster.hbm.xml"/>        
         <mapping resource="org/transinfo/cacis/dto/alert/AlertAdminUser.hbm.xml"/>         
         
         
         <!-- Switches mapping files -->
	     <mapping resource="org/transinfo/cacis/dto/switching/Switches.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/switching/SwitchType.hbm.xml"/>   
         
         <!-- KeyIndex mapping files -->
	     <mapping resource="org/transinfo/cacis/dto/key/KeyIndex.hbm.xml"/>
	
	     <!-- License Master  mapping files -->
	     <mapping resource="org/transinfo/cacis/dto/administration/LicenseMaster.hbm.xml"/>
                  
         <!-- User Access  mapping files -->
             <!-- Password Change mapping file -->
	    <mapping resource="org/transinfo/cacis/dto/useraccess/UserMaster.hbm.xml"/>
	  
	      <!-- UserSetup mapping file -->
	     <mapping resource="org/transinfo/cacis/dto/useraccess/RoleMaster.hbm.xml"/> 
         <mapping resource="org/transinfo/cacis/dto/useraccess/CodeMaster.hbm.xml"/>                           
         
         <!-- Role Function Setup mapping files -->
         <mapping resource="org/transinfo/cacis/dto/useraccess/FunctionSetMaster.hbm.xml"/>                           
         <mapping resource="org/transinfo/cacis/dto/useraccess/PermissionMatrixFunctions.hbm.xml"/>
         <mapping resource="org/transinfo/cacis/dto/useraccess/RoleFunctionSet.hbm.xml"/>                           
         
         <!-- LOG mapping files -->
            <!-- UserActivities mapping file -->
         <mapping resource="org/transinfo/cacis/dto/log/UserActivities.hbm.xml"/>                           
         
         <!-- Errorlog mapping file -->
         <mapping resource="org/transinfo/cacis/dto/log/Errorlog.hbm.xml"/>                           
         
         <!-- ######## newly added 2  #######  -->  
        
         <!-- RISK MANAGEMENT mapping files -->	 
		 <mapping resource="org/transinfo/cacis/dto/riskmanagement/RiskTranxSaleCash.hbm.xml"/>                           
		 <mapping resource="org/transinfo/cacis/dto/riskmanagement/RiskTranxMccs.hbm.xml"/>                           	 
		 <mapping resource="org/transinfo/cacis/dto/riskmanagement/RiskTranxPeriod.hbm.xml"/>                           
		 <mapping resource="org/transinfo/cacis/dto/riskmanagement/RiskCountry.hbm.xml"/>                           
		 <mapping resource="org/transinfo/cacis/dto/riskmanagement/RiskCities.hbm.xml"/>                           
		 <mapping resource="org/transinfo/cacis/dto/riskmanagement/RiskTranxAction.hbm.xml"/>                           
		 <mapping resource="org/transinfo/cacis/dto/riskmanagement/RiskMaster.hbm.xml"/>
			
		<!-- riskmanagement: Withdrawal Limit Rules mapping files -->
		<mapping resource="org/transinfo/cacis/dto/riskmanagement/WithdrawalLimitRules.hbm.xml" />

		<!-- riskmanagement: Cardholder Limit Adjustment mapping files -->
		<mapping resource="org/transinfo/cacis/dto/riskmanagement/CardholderLimitAdjustment.hbm.xml" />
		<mapping resource="org/transinfo/cacis/dto/riskmanagement/CardLimits.hbm.xml" />

		<!-- riskmanagement: User Activity mapping files -->
		<mapping resource="org/transinfo/cacis/dto/riskmanagement/UserActivity.hbm.xml" />

		<!-- riskmanagement: Original Request mapping files -->
		<mapping resource="org/transinfo/cacis/dto/riskmanagement/OriginalRequest.hbm.xml" />

		<!-- riskmanagement: Write Off mapping files -->
		<mapping resource="org/transinfo/cacis/dto/riskmanagement/WriteOffMaster.hbm.xml" />
			
		<!-- riskmanagement: Write Off Cards mapping files -->
		<mapping
			resource="org/transinfo/cacis/dto/riskmanagement/WriteOffCards.hbm.xml" />
		 	 
		
	 	<!-- letters module -->
		<mapping resource="org/transinfo/cacis/dto/letters/LetterDispatch.hbm.xml" />
		<mapping resource="org/transinfo/cacis/dto/letters/ChLetterHist.hbm.xml" />
		<mapping resource="org/transinfo/cacis/dto/letters/LetterCategory.hbm.xml" />
		<mapping resource="org/transinfo/cacis/dto/letters/LetterApplMap.hbm.xml" />
		<mapping resource="org/transinfo/cacis/dto/letters/LetterTemplate.hbm.xml" />
	 	     
     	<!-- Help mapping files -->
		<mapping resource="org/transinfo/cacis/dto/help/Help.hbm.xml" />
		
	  	<!-- Transaction mapping files -->
		<mapping resource="org/transinfo/cacis/dto/transaction/DebitCardFee.hbm.xml" />  
		<mapping resource="org/transinfo/cacis/dto/transaction/FeeCreditGL.hbm.xml" /> 
		<mapping resource="org/transinfo/cacis/dto/transaction/FeeDebitGL.hbm.xml" /> 
		<mapping resource="org/transinfo/cacis/dto/transaction/AccountBillingGL.hbm.xml" /> 
		<mapping resource="org/transinfo/cacis/dto/transaction/TransactionCreditGL.hbm.xml" /> 
		<mapping resource="org/transinfo/cacis/dto/transaction/TransactionDebitGL.hbm.xml" /> 
		<mapping resource="org/transinfo/cacis/dto/transaction/CustomerFee.hbm.xml" /> 
		
		<mapping resource="org/transinfo/cacis/dto/settings/TranxType.hbm.xml"/>
        <mapping resource="org/transinfo/cacis/dto/settings/CardProductTranx.hbm.xml"/>
        <mapping resource="org/transinfo/cacis/dto/csr/AddProduct.hbm.xml"/>
		<!-- Card Batch mapping files -->
         <mapping resource="org/transinfo/cacis/dto/batchprocess/InstantCard.hbm.xml"/>

		 
		<!-- Collection Management -->
    	<mapping resource="org/transinfo/cacis/dto/collectionmanagement/DelinquencyPolicy.hbm.xml"/>
    	<mapping resource="org/transinfo/cacis/dto/collectionmanagement/DelinquencyFeeSetup.hbm.xml"/>
    	<mapping resource="org/transinfo/cacis/dto/collectionmanagement/DelinquencyNotificationSetup.hbm.xml"/>
    
    </session-factory>

</hibernate-configuration>