@media Print    
{
.print_hide {
	DISPLAY: none
}
    }
A:link {
	COLOR: #000000
}
A:visited {
	COLOR: #000000
}
A:hover {
	COLOR: #000000
}
P.PAGE_BREAK {
	PAGE-BREAK-BEFORE: always
}
A.A_Tab:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.A_Tab:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.A_Tab:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.A_Tab:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.A_Menu:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.A_Menu:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.A_Menu:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.A_Menu:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.A_MenuWhite:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.A_MenuWhite:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.A_MenuWhite:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.A_MenuWhite:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.A_NewMenu:link {
	COLOR: #003059; TEXT-DECORATION: none
}
A.A_NewMenu:active {
	COLOR: #003059; TEXT-DECORATION: none
}
A.A_NewMenu:visited {
	COLOR: #003059; TEXT-DECORATION: none
}
A.A_NewMenu:hover {
	COLOR: #003059; TEXT-DECORATION: none
}
A.A_NewMenuOn:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.A_NewMenuOn:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.A_NewMenuOn:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.A_NewMenuOn:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
INPUT {
	BORDER-RIGHT: #afc2cc 1px solid; BORDER-TOP: #afc2cc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #afc2cc 1px solid; BORDER-BOTTOM: #afc2cc 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffffff
}
INPUT.BUTTON {
	BORDER-RIGHT: rgb(99,110,139) 1px solid; BORDER-TOP: rgb(99,110,139) 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: rgb(99,110,139) 1px solid; BORDER-BOTTOM: rgb(99,110,139) 1px solid; FONT-STYLE: normal; FONT-FAMILY: verdana, Arial, Helvetica; BACKGROUND-COLOR: #f3f0f0; FONT-VARIANT: normal
}
INPUT.CHECK {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: transparent
}
SELECT {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
TEXTAREA {
	BORDER-RIGHT: #afc2cc 1px solid; BORDER-TOP: #afc2cc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #afc2cc 1px solid; BORDER-BOTTOM: #afc2cc 1px solid; FONT-FAMILY: verdana
}
.TD_LINE {
	BORDER-BOTTOM: #9aa1b1 1px solid
}
.TD_LINE_TOP {
	BORDER-TOP: #9aa1b1 1px solid
}
TABLE.Mtable TD {
	BORDER-BOTTOM: #9aa1b1 1px solid
}
.inPgBrdr {
	BORDER-RIGHT: #8ca5b5 1px solid; BORDER-TOP: #8ca5b5 1px solid; BORDER-LEFT: #8ca5b5 1px solid; BORDER-BOTTOM: #8ca5b5 1px solid
}
.smcRow {
	BORDER-TOP: #c1cdd8 1px solid
}
.smcDiv {
	BORDER-RIGHT: #8ca5b5 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #8ca5b5 1px solid; OVERFLOW-Y: auto; PADDING-LEFT: 0px; OVERFLOW-X: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #8ca5b5 1px solid; WIDTH: 344px; PADDING-TOP: 0px; BORDER-BOTTOM: #8ca5b5 1px solid; HEIGHT: 117px
}
.msglistcntrl TD {
	BORDER-BOTTOM: medium none
}
.tagline {
	FONT-WEIGHT: bold; COLOR: #d6e7ef; TEXT-DECORATION: none
}
.PageBODY {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px; COLOR: #000000; MARGIN-RIGHT: 0px; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica; BACKGROUND-COLOR: #f8f8f8
}
.ColumnFONT {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica
}
.DataFONT {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica
}
.ErrFONT {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica
}
.DataTD {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; FONT-SIZE: 8pt; BORDER-LEFT: 1px inset; COLOR: #000000; BORDER-BOTTOM: 1px inset; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica; BACKGROUND-COLOR: #e2e2e2
}
.ReportDataTD {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; FONT-SIZE: 10pt; BORDER-LEFT: 1px inset; COLOR: #000000; BORDER-BOTTOM: 1px inset; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica; BACKGROUND-COLOR: #e2e2e2
}
.DataTD {
	BORDER-RIGHT: #c6d2de 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #c6d2de 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #c6d2de 1px dotted; PADDING-TOP: 1px; BORDER-BOTTOM: #c6d2de 1px solid
}
.DataTDGrey {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; FONT-SIZE: 8pt; BORDER-LEFT: 1px inset; COLOR: #000000; BORDER-BOTTOM: 1px inset; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica; BACKGROUND-COLOR: #efeded
}
.DataTDGrey {
	BORDER-RIGHT: #c6d2de 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #c6d2de 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; BORDER-LEFT: #c6d2de 1px dotted; PADDING-TOP: 1px; BORDER-BOTTOM: #c6d2de 1px solid
}
.DataTDNotDotted {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; FONT-SIZE: 8pt; BORDER-LEFT: 1px inset; COLOR: #000000; BORDER-BOTTOM: 1px inset; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica; BACKGROUND-COLOR: #e2e2e2
}
.DataTDNotDotted {
	BORDER-RIGHT: #c6d2de 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c6d2de 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; BORDER-LEFT: #c6d2de 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c6d2de 1px solid
}
.ReportTitleFONT {
	FONT-SIZE: 14pt; COLOR: #000000; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica; bold: 
}
.DataTDNoBorder {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 8pt; BORDER-BOTTOM-WIDTH: 0px; COLOR: #000000; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica; BACKGROUND-COLOR: #f3f3f3; BORDER-RIGHT-WIDTH: 0px
}
.FieldCaptionFONT {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica
}
.texte_accueil {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #303a53; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.texteBlanc {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.texteMenuGauche {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.texteMenuGaucheBig {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.texteOnglet {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.titreSection {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #5b0000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.nomCompagnie {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.UsersListColumnFONT {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica
}
TD.NON {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffcc99; FONT-FAMILY: Tahoma, Verdana, Arial
}
TD.TOP {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Tahoma, Verdana, Arial
}
TD.SOME {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial
}
TD.SOMEGRAY {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #777777; FONT-FAMILY: Tahoma, Verdana, Arial
}
TD.CALENDAR {
	FONT-SIZE: 8pt; COLOR: #344b5f; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TABLE.GANTT TD {
	FONT-SIZE: 8pt; COLOR: #344b5f; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	BACKGROUND: url(../../images/background.gif);
	MARGIN: 0px;
	SCROLLBAR-HIGHLIGHT-COLOR: #acd0e0;
	SCROLLBAR-SHADOW-COLOR: #7f95ae;
	SCROLLBAR-3DLIGHT-COLOR: #4c7694;
	SCROLLBAR-TRACK-COLOR: #becfe0;
	SCROLLBAR-BASE-COLOR: #becfe0;
	padding: 10px;
}
BODY.BODY_MENU {
	BACKGROUND: #1c5b94
}
BODY.BODY_LOGIN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/login_background.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.login_form_txt {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #002e4e; PADDING-TOP: 0px; FONT-FAMILY: verdana; TEXT-ALIGN: right
}
.login_form_input {
	BORDER-RIGHT: #6a8ba8 1px solid; BORDER-TOP: #6a8ba8 1px solid; BACKGROUND: #d2dfec; BORDER-LEFT: #6a8ba8 1px solid; WIDTH: 155px; BORDER-BOTTOM: #6a8ba8 1px solid; HEIGHT: 20px
}
.login_form_td {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: right
}
.texteMenuDroit {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #3c3c3c; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.onglets_on {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; CURSOR: pointer; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana, Verdana, Helvetica, sans-serif
}
.onglets_off {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; CURSOR: pointer; COLOR: #003059; FONT-STYLE: normal; FONT-FAMILY: verdana, Verdana, Helvetica, sans-serif
}
.onglets_off2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana, Verdana, Helvetica, sans-serif
}
.menu_niveau0 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 4px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 10px
}
.menu_item_niveau0 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 100; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1px; FONT: 11px arial; WIDTH: 140px; CURSOR: pointer; COLOR: #000000; PADDING-TOP: 0px; HEIGHT: 20px
}
.menu_item_niveau1 {
	Z-INDEX: 100; FONT: 11px arial; WIDTH: 140px; CURSOR: pointer; BORDER-BOTTOM: #9ac1db 1px solid; HEIGHT: 20px
}
.wrapper {
	FONT-SIZE: 11px; FONT-FAMILY: verdana; BORDER-COLLAPSE: collapse
}
.title {
	BORDER-RIGHT: #c6d2de 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #54678c 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #dce5ea; PADDING-BOTTOM: 1px; BORDER-LEFT: #c6d2de 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c6d2de 3px double
}
#firstcolumn {
	BORDER-LEFT: medium none
}
#lastcolumn {
	BORDER-RIGHT: medium none
}
#lastcolumnsolid {
	BORDER-RIGHT: #c6d2de 1px solid
}
.label {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: verdana
}
.desc_cell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND: #dce5ea; PADDING-BOTTOM: 2px; COLOR: #002d45; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: verdana
}
.group_title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #14426b; PADDING-TOP: 2px; FONT-FAMILY: arial
}
.group_bar {
	BACKGROUND: #dce5ea; empty-cells: show
}
.form_tab_on {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #565e62; PADDING-TOP: 0px; FONT-FAMILY: verdana
}
.form_tab_off {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #002a3e; PADDING-TOP: 0px; FONT-FAMILY: verdana
}
.form_bgcolor {
	BACKGROUND: #f4f4f4
}
.text_as_label {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND: #dce5ea; PADDING-BOTTOM: 2px; COLOR: #002d45; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: verdana; BORDER: none; 
}
.expiresoon {
	BORDER-RIGHT: #c6d2de 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #c6d2de 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffaaaa; PADDING-BOTTOM: 1px; BORDER-LEFT: #c6d2de 1px dotted; PADDING-TOP: 1px; BORDER-BOTTOM: #c6d2de 1px solid
}

table.simple thead tr {

BORDER-RIGHT: #c6d2de 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #54678c 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #dce5ea; PADDING-BOTTOM: 1px; BORDER-LEFT: #c6d2de 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c6d2de 3px double  

}

 

table.simple thead tr {

BORDER-RIGHT: #c6d2de 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #54678c 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #dce5ea; PADDING-BOTTOM: 1px; BORDER-LEFT: #c6d2de 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c6d2de 3px double  

}

 

table.simple tr.even {

  background-color: #FFFFFF;

}

table.simple {

            FONT-SIZE: 12px;

            FONT-FAMILY: verdana;

            BORDER-COLLAPSE: collapse;

}

 

table.simple th{

            BORDER-RIGHT: #c6d2de 1px solid;

            PADDING-RIGHT: 5px;

            BORDER-TOP: #54678c 1px solid;

            PADDING-LEFT: 5px;

            FONT-WEIGHT: bold;

            BACKGROUND: #dce5ea;

            PADDING-BOTTOM: 5px;

            BORDER-LEFT: #c6d2de 1px solid;

            PADDING-TOP: 5px;

            BORDER-BOTTOM: #c6d2de 3px double;

            white-space: nowrap;

}

 

table.simple tr.odd {

  background-color: #EFEFEF

}

 

table.simple td {

            BORDER-RIGHT: #c6d2de 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #c6d2de 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; BORDER-LEFT: #c6d2de 1px dotted; PADDING-TOP: 5px; BORDER-BOTTOM: #c6d2de 1px solid;FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica

}

 

table.nocol tbody td,table.nocol tbody th{

            border-left: none;

            border-right: none;

}

 

div.exportlinks {

            background-color: #eee;

            border: 1px dotted #999;

            width: 79%;

            margin-top: 10px;

            margin-right: 0;

            margin-bottom: 10px;

            margin-left: 0;

            padding-top: 2px;

            padding-right: 4px;

            padding-bottom: 2px;

            padding-left: 4px;

}

 

span.export {

            padding: 0 4px 1px 20px;

            display:inline; display:inline-block;

            cursor: pointer;

}

 

span.excel {

            background-image: url(../img/ico_file_excel.png);

            background-repeat: no-repeat;

}

span.csv {

            background-image: url(../img/ico_file_csv.png);

            background-repeat: no-repeat;

}

span.xml {

            background-image: url(../img/ico_file_xml.png);

            background-repeat: no-repeat;

}

span.pdf {

            background-image: url(../img/ico_file_pdf.png);

            background-repeat: no-repeat;

}
.group_field_set {
	border: 1px solid threedface !important;
	BORDER-COLOR: #c2c2c2 !important;
}

.
